BACKEND_PORT=8000
FRONTEND_PORT=3000

POSTGRES_DB=banking
POSTGRES_USER=banking
POSTGRES_PASSWORD=banking

DB_NAME=banking
DB_USER=banking
DB_PASSWORD=banking
DB_HOST=db
DB_PORT=5432

DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
